.card {
  background-color: #FBF9EF;
  height: 185px;
  margin: 0 0 6px 0;
  text-align: center;
  width: 161px;
}

.recommended-recipes {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100%;
  overflow: auto;
}

.button-start {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}
