.recommended-recipes > div {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.recommended-recipes > div > a {
  display: flex;
  margin: 10px;
}

.recommended-recipes > div > a > div{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.card-image {
  width: 180px;
}
